*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     
}
body{
    padding: 0;
    margin: 0;
    background-color: sandybrown;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;  
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cuerpoFormulario{
    margin: 20px 30%;
    color:black;
}

.formularioLogin{
    padding: 20px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;

}
.cuerpoFormulario1{
    margin: 20px 15%;
    color:black;
    text-align: center;
}

.formularioRegistro{
    padding: 20px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}
.btn{
    margin: 0px;
    padding: 15px 32px;
    border: none;
    font-size: 20px;
    background-color: black;
    border: 2px solid white;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: white;
    text-align: center;
    width:40%;
}
.btn:hover{
    background-color:white;
    color:black;
}

.txt{
    position:relative;
    border-color: black;
    width:85%;
    border: 8px;
    height: 40px;
    background: white;
    border-radius: 8px;
    margin-bottom: 17px;
}

fieldset{
    display: inline; 
    text-align: center;
    width:540px;
}
.container-slide{
    margin:50px 0;
    position: relative;
    height: 300px;
    width: 400px;
}